/***************************html****************************/
h1,h2,h3,h4,h5,h6,p {
    margin: 0;
    padding: 0;
}

html {
    background-color: #586D87   /*Dark Greyish Blue*/ 
}

/***************************letterform*********************/
#letterform-character{
    color: #D3A46F;   /*Muted Gold*/
    font-family: Rosario Bold;
}

/*************************************htags********************/
h1 {
    color: #D3A46F;       /*Gold*/
    font-size: 1500px;
    font-weight: bold;
    font-family: rosario; 
}

h2 {
    color: #FFFFFF;       /*White*/
    font-size: 150px;
    font-weight: bold;
    font-family: rosario; 
    margin: 60px; 
    letter-spacing: 15%; 
}

h3 {
    color: #D64F68;   /*Red*/ 
    font-size: 40px;
    font-weight: bold;
    font-family: rosario; 
    margin: 60px; 
}

h4 {
    color:#FFFFFF;    /*White*/
    font-size: 20px;
    font-weight: bold;
    font-family: rosario; 
}

h5 {
    color:#FFFFFF; /*White*/
    font-size: 20px;
    font-weight: bold; 
    font-family: rosario; 
}

h6 {
    color:#FFFFFF;  /*White*/
    font-size: 20px;
    font-weight: bold;
    font-family: rosario; 
}

/********************************paragraph-alphabets**********/

p {
    color: #FFFFFF;   /*White*/ 
    text-align: right;
    font-size: 32px;
    font-family: rosario;
    font-weight: bold;
    text-align: right; 
}
#alphabet {
    color:#FFFFFF;  /*White*/
    text-align: left;
    font-size: 150px;
    font-family: rosario;
    font-weight: bold;
}

#alphabet-2 {
    color:#D64F68;   /*Red*/ 
    text-align: left;
    font-size: 150px;
    font-family: rosario;
    font-weight: bold; 
}

/***************************************button********/
#button {
    width: 40px;
    height: 40px;
    border-radius: 50%; 
    background-color:#D64F68;   /*Red*/ 
}

#button:hover {
    width: 40px;
    height: 40px;
    background-color: #FFFFFF;  /*White*/ 
    cursor: pointer; 
}

/*****************************image***************/
img { 

}