/* This is the main css stylesheet for sjwassell.github.io/project-2 site */

/******* Typography *******/
:root{
    --serif:'Roboto Slab', serif;
    --sans:'Press Start 2P'; 
}

p {
    font-family: 'Roboto Slab';
    font-size: 15px; 
}

h1 {
    font-family: 'Press Start 2P';
}

h2 {
    font-family: 'Press Start 2P';
}

/****** Color ******/

/****** Navigation ******/

/****** Layout ******/
section {
    width: 100vw;
    height: 100vh;
    padding: 60px; 
}

#first-section{
    background-color:#F0EDFE; 
    font-family: var(--sans)
}

#second-section{
    background-color: #F0EDFE;
    font-family: var(--serif)
}

#third-section{
    background-color: #F0EDFE; 
}

.flex{
    display: flex;
    flex-direction: row;
}

.chunk{
    background-color: white;
}

.container {
    width: 1242px;
    margin: 0 auto;
}

.soul-silver {
    margin: 15 50 20 40;
    padding: 20 30 50 5
}

.about-bugsy {
    margin: 20 30 50 5;
    padding: 0px 0px 50px 200px;
}

.bugsy {
    font-family: 'Press Start 2P';
    font-size: 32px; 
}

.pokemon {
    font-family: 'Press Start 2P';
    font-size: 32px; 
}
